.formulario{
    background-color: rgb(145 183 255);
    display: flex;
    flex-direction: column;
    row-gap: 0.8em;
    width: min-content;
    padding: 0.8em;
    border: solid 1px rgb(47, 47, 47);
    border-radius: 5px;
}

.formulario input,
.formulario textarea{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(23, 23, 23);
}

.formulario input:focus-visible,
.formulario textarea:focus-visible,
.formulario select:focus-visible
{
    outline: none;
    border-color: rgb(0, 145, 255);
    box-shadow:rgb(0,145,255) 0px 0px 2px 0px;
}

.form-field{
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}