.button{
    border-style: solid;
    border-color: rgb(23, 23, 23);
    cursor: pointer;
}

.button:disabled{
    background-color: #46403e;
    border-color: #46403e;
}

.delete-task{
    background-color: #d31111;
    color: #f5f6f0;
    border-color: #d31111;
}

.delete-task:hover{
    background-color: #ff3636;
    border-color: #ff3636;
}

.delete-task:focus-visible
{
    outline: none;
    box-shadow:rgb(253, 66, 24) 0px 0px 1px 1px;
    border-color: rgb(253, 66, 24);
}


.add-task{
    background-color: rgb(8 87 203);
    border-color: rgb(8 87 203);
    color: white;
}

.add-task:hover{
    background-color: rgb(36, 112, 226);
    border-color: rgb(36, 112, 226);
}
.add-task:active{
    background-color: rgb(239, 161, 6);
    border-color: rgb(236, 201, 4);
}

.add-task:focus-visible
{
    outline: none;
    border-color: rgb(0, 145, 255);
    box-shadow:rgb(0,145,255) 0px 0px 2px 0px;
}

.cancel-modal{
    background-color: #2f2f2f;
    color: #f5f6f0;
    border-color: #2f2f2f;
}

.cancel-modal:hover{
    background-color: #46403e;
}