.button{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(23, 23, 23);
    cursor: pointer;
}

.delete-task{
    background-color: #d31111;
    color: #f5f6f0;
    border-width: 1;
    border-color: #d31111;
}

.delete-task:hover{
    background-color: #ff3636;
}

.delete-task:focus-visible
{
    outline: none;
    box-shadow:rgb(253, 66, 24) 0px 0px 1px 1px;
    border-color: rgb(253, 66, 24);
}


.add-task{
    background-color: rgb(8 87 203);
    color: white;
}

.add-task:hover{
    background-color: rgb(36, 112, 226);
}
.add-task:active{
    background-color: rgb(145 183 255);
}

.add-task:focus-visible
{
    outline: none;
    border-color: rgb(0, 145, 255);
    box-shadow:rgb(0,145,255) 0px 0px 2px 0px;
}